<h1>Restaurantes</h1>

<div class="row-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="plainText">Nome:</label>
                <input type="text" class="form-control input-sm" id="plainText">
            </div>
            <div class="row-fluid">
                <button class="btn btn-success" (click)="incrementCounter()">Pesquisar</button>   <button class="btn btn-warning" (click)="incrementCounter()">Cadastrar Novo</button>
            </div>
        </div>

    </div>
</div>
<div class="row-fluid">
  
</div>